In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    8.0
dtype: float64

In [4]:
dates = pd.date_range('20190101',periods=6)
print(dates)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.arange(24).reshape(6,4),index=dates,columns=list('ABCD'))
# df = pd.DataFrame(np.random.randn(6,4).reshape(6,4),index=dates,columns=list('ABCD'))
print(df)

             A   B   C   D
2019-01-01   0   1   2   3
2019-01-02   4   5   6   7
2019-01-03   8   9  10  11
2019-01-04  12  13  14  15
2019-01-05  16  17  18  19
2019-01-06  20  21  22  23

In [9]:
df2 = pd.DataFrame(
{'A':1,
 'B':pd.Timestamp('20130102'),
 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
 'D':np.array([3]*4,dtype='int32'),
 'E':pd.Categorical(['test','train','test','train']),
 'F':'foo',
}
)
print(df2)
print(df2.dtypes)

   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo
A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [10]:
print(df.head()) # 默认5行
print(df.tail(3))

             A   B   C   D
2019-01-01   0   1   2   3
2019-01-02   4   5   6   7
2019-01-03   8   9  10  11
2019-01-04  12  13  14  15
2019-01-05  16  17  18  19
             A   B   C   D
2019-01-04  12  13  14  15
2019-01-05  16  17  18  19
2019-01-06  20  21  22  23

In [13]:
print(df.index) # 行索引
print(df.columns) # 列索引
print(df.values)
df.describe() # 各项统计特征

               A          B          C          D
count   6.000000   6.000000   6.000000   6.000000
mean   10.000000  11.000000  12.000000  13.000000
std     7.483315   7.483315   7.483315   7.483315
min     0.000000   1.000000   2.000000   3.000000
25%     5.000000   6.000000   7.000000   8.000000
50%    10.000000  11.000000  12.000000  13.000000
75%    15.000000  16.000000  17.000000  18.000000
max    20.000000  21.000000  22.000000  23.000000

In [14]:
print(df.T) # 转秩

   2019-01-01  2019-01-02  2019-01-03  2019-01-04  2019-01-05  2019-01-06
A           0           4           8          12          16          20
B           1           5           9          13          17          21
C           2           6          10          14          18          22
D           3           7          11          15          19          23

In [24]:
print(df.sort_index(axis=1,ascending=False)) # 根据第一个轴排序，也就是columns的值倒序，所以是DCBA
df.sort_values(by='B') # 根据某一列的值排序一整行
# df.sort_values(by=pd.to_datetime('2019-01-02',format='%Y-%m-%d'))

             D   C   B   A
2019-01-01   3   2   1   0
2019-01-02   7   6   5   4
2019-01-03  11  10   9   8
2019-01-04  15  14  13  12
2019-01-05  19  18  17  16
2019-01-06  23  22  21  20

             A   B   C   D
2019-01-01   0   1   2   3
2019-01-02   4   5   6   7
2019-01-03   8   9  10  11
2019-01-04  12  13  14  15
2019-01-05  16  17  18  19
2019-01-06  20  21  22  23

In [35]:
print(df['A'])
print(df[0:3]) # 获取第几行
print(df.loc[dates[0]]) # 根据index获取某一行
print(df[0:3].shape) # (3,4)
print(df.loc[dates[0]].shape) (4,)

2019-01-01     0
2019-01-02     4
2019-01-03     8
2019-01-04    12
2019-01-05    16
2019-01-06    20
Freq: D, Name: A, dtype: int64
            A  B   C   D
2019-01-01  0  1   2   3
2019-01-02  4  5   6   7
2019-01-03  8  9  10  11
A    0
B    1
C    2
D    3
Name: 2019-01-01 00:00:00, dtype: int64
(3, 4)
(4,)

In [37]:
print(df.loc[:,['A','B']]) # 只获取需要的列数据
print(df.loc['20190102':'20190104',['A','B']]) # 行列都进行切片
print(df.loc['20190102',['A','B']]) # shape会变维度，变成2行1列的

             A   B
2019-01-01   0   1
2019-01-02   4   5
2019-01-03   8   9
2019-01-04  12  13
2019-01-05  16  17
2019-01-06  20  21
             A   B
2019-01-02   4   5
2019-01-03   8   9
2019-01-04  12  13
A    4
B    5
Name: 2019-01-02 00:00:00, dtype: int64

In [41]:
print(df.loc['20190102','A'])
print(df.at[dates[1],'A'])

4
4

In [46]:
print(df.iloc[3])  # 第三行
print(df.iloc[3:5,0:2])
print(df.iloc[[1,3,5],0:2])

A    12
B    13
C    14
D    15
Name: 2019-01-04 00:00:00, dtype: int64
             A   B
2019-01-04  12  13
2019-01-05  16  17
             A   B
2019-01-02   4   5
2019-01-04  12  13
2019-01-06  20  21

In [49]:
print(df.iloc[1,1])
print(df.iat[1,1])

5
5

In [54]:
print(df[df.A>7])
print(df[df>5])
df3 = df.copy()
df3['E'] = ['one','one','two','three','four','three']
print(df3[df3['E'].isin(['one','two'])])

             A   B   C   D
2019-01-03   8   9  10  11
2019-01-04  12  13  14  15
2019-01-05  16  17  18  19
2019-01-06  20  21  22  23
               A     B     C     D
2019-01-01   NaN   NaN   NaN   NaN
2019-01-02   NaN   NaN   6.0   7.0
2019-01-03   8.0   9.0  10.0  11.0
2019-01-04  12.0  13.0  14.0  15.0
2019-01-05  16.0  17.0  18.0  19.0
2019-01-06  20.0  21.0  22.0  23.0
            A  B   C   D    E
2019-01-01  0  1   2   3  one
2019-01-02  4  5   6   7  one
2019-01-03  8  9  10  11  two

In [57]:
s1 = pd.Series([1,2,3,4,5,6],index=dates)
df3['F'] = s1
print(df3)

             A   B   C   D      E  F
2019-01-01   0   1   2   3    one  1
2019-01-02   4   5   6   7    one  2
2019-01-03   8   9  10  11    two  3
2019-01-04  12  13  14  15  three  4
2019-01-05  16  17  18  19   four  5
2019-01-06  20  21  22  23  three  6

In [59]:
df3.loc[:,'G'] = np.array([5] * 6)
print(df3)

             A   B   C   D      E  F  G
2019-01-01   0   1   2   3    one  1  5
2019-01-02   4   5   6   7    one  2  5
2019-01-03   8   9  10  11    two  3  5
2019-01-04  12  13  14  15  three  4  5
2019-01-05  16  17  18  19   four  5  5
2019-01-06  20  21  22  23  three  6  5

In [70]:
df1 = df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])
print(df1)
df1.loc[dates[0]:dates[1],'E'] = 1
print(df1)
df1.dropna(how='any',inplace=True)
# df1.fillna(value=5,inplace=True)
print(df1)

               A     B     C     D   E
2019-01-01   0.0   1.0   2.0   3.0 NaN
2019-01-02   4.0   5.0   6.0   7.0 NaN
2019-01-03   8.0   9.0  10.0  11.0 NaN
2019-01-04  12.0  13.0  14.0  15.0 NaN
               A     B     C     D    E
2019-01-01   0.0   1.0   2.0   3.0  1.0
2019-01-02   4.0   5.0   6.0   7.0  1.0
2019-01-03   8.0   9.0  10.0  11.0  NaN
2019-01-04  12.0  13.0  14.0  15.0  NaN
              A    B    C    D    E
2019-01-01  0.0  1.0  2.0  3.0  1.0
2019-01-02  4.0  5.0  6.0  7.0  1.0

In [72]:
df.mean() # 默认axis=0, 意思是按第0个维度取平均值所以会把第0个维度的值去掉，因此由(6,4) -> (1,4) -> (4,)
df.mean(axis=1)

2019-01-01     1.5
2019-01-02     5.5
2019-01-03     9.5
2019-01-04    13.5
2019-01-05    17.5
2019-01-06    21.5
Freq: D, dtype: float64

In [73]:
s = pd.Series([1,3,5,np.nan,6,8],index=dates).shift(2) # 向后移动2位
print(s)
print(df.sub(s,axis="index")) # 沿着index的顺序挨个sub做减法

2019-01-01    NaN
2019-01-02    NaN
2019-01-03    1.0
2019-01-04    3.0
2019-01-05    5.0
2019-01-06    NaN
Freq: D, dtype: float64
               A     B     C     D
2019-01-01   NaN   NaN   NaN   NaN
2019-01-02   NaN   NaN   NaN   NaN
2019-01-03   7.0   8.0   9.0  10.0
2019-01-04   9.0  10.0  11.0  12.0
2019-01-05  11.0  12.0  13.0  14.0
2019-01-06   NaN   NaN   NaN   NaN

In [81]:
df.apply(np.cumsum) # 每列递加累计求和
df.apply(lambda x: x.max()-x.min()) # 折叠行，按列计算
df.apply(lambda x: x.max()-x.min(),axis=1)
df['A'].value_counts() # 一行或者一列中，元素的个数
s = pd.Series(['A','b'])
s.str.lower()

0    a
1    b
dtype: object

In [82]:
# df.concat()
# df.merge()
# df.append()